Codes/Flows/3/Conditional Record Trigger Flow.txt
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>If_condition</name>
        <label>If condition</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Rating_Warm_and_Ownership_as_Public</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ownership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp</targetReference>
            </connector>
            <label>If Rating Warm and Ownership as Public</label>
        </rules>
        <rules>
            <name>If_rating_as_Cold_and_Ownership_as_Private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ownership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>If rating as Cold and Ownership as Private</label>
        </rules>
    </decisions>
    <interviewLabel>ornek 4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditional Record Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_condition</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ownership</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Public</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ownership</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
