Codes/Flows/21/UpdateContactAdresswithAccHandler.txt
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Record_to_Posta_Arabasi_0</name>
        <label>Add Record to Posta Arabasi</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>contactPostaArabasi</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Address</name>
        <label>Update Contact Address</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contacts.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Contacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Contacts.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Contacts.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Contacts.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_Posta_Arabasi_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Billing_Address_is_Changed</name>
        <label>If Billing Address is Changed</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>If</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts</targetReference>
            </connector>
            <label>If</label>
        </rules>
    </decisions>
    <interviewLabel>Update Related Contact Addresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Related Contact Addresses</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Contact_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Billing_Address_is_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Addresses</name>
        <label>Update Addresses</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>contactPostaArabasi</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactPostaArabasi</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
